$general-font: 'Roboto', sans-serif;
$rubric-font: 'Open Sans', sans-serif;
$accent-color: #1abc9c;
$white-color: #ffffff;
$news-color: #555252;
$menu-color: #0f0101;
$animation: cubic-bezier(0.4, 0, 0.2, 1);
